{
    "presets": [
        ["env", { "modules": false }],
        "stage-2"
    ],

    "plugins": [
        ["component", [{
            "libraryName": "mint-ui",
            "style": true
        }]]
    ],
    "comments": false,
    "env": {
        "test": {
            "presets": ["env", "stage-2"],
            "plugins": ["istanbul"]
        }
    }
}